.tanvir{text-decoration:none; display:inline-block;color:white;background-color:aqua;border-radius:6px;margin-left:100px;margin-top:345px;}
.tanvir:hover{background-color:blue;}
.body{background-image:url(Netflix.png);background-size:cover;}